body{
	display: flex;
	background: #263238;
	font-family: sans-serif;
	color: #fff;
	flex-direction: column;
	height: 100%;
	margin: 0;
}
.contenedor {
	width: 90%;
	max-width: 100px;
}
.contenedor article {
	line-height: 28px;
}

.contendedor article h1{
	font-size: 30px;
	text-align: left;
	padding: 50px 0;
}
.contenedor.article p {
	margin-bottom: 20px;
}

.contenedor article .btn-abrir-popup:hover {
	background: rgba(94,125,227, .9);
}
.overlay {
	background: rgba(0,0,0, .5);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	visibility: visible;
}
.popup {
	background: #f8f8f8;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.8)
	border-radius: 3px;
	font-family: sans-serif;
	padding: 20px;
	text-align: center;
	width: 600px;
	visibility: visible;
	animation: animacionpop .8s ease .5s forwards;
	transition: .3s ease all;
	opacity: 0;


}
.popup .btn-cerrar-popup {
	font-size: 16px;
	line-height: 16px;
	display: block;
	text-align: right;
	color: #BB88BB;
	transition: 1s ease all;
}
.popup .btn-cerrar-popup:hover {
	color: #000;
}
.popup h3{
	font-size: 36px;
	font-weight: 600;
	margin-bottom: 10px;
	color:black;
	animation: entradaTitulo .8s ease .5s;
	transition: .3s ease all;

}

.popup h4{
	font-size: 26px;
	font-weight: 300;
	margin-bottom: 10px;
	color: gray;
	animation: salida .8s ease .5s forwards;
	opacity: 1;
	transition: .3s ease all;
}
.popup form .contenedor-inputs {
	opacity: 1;
	animation: entradainput 1s ease 1s;
		transition: .3s ease all;
}

.popup form .contenedor-inputs input{
	width: 100%;
	margin-bottom: 20px;
	height: 52px;
	line-height: 52px;
	font-size: 18px;
	text-align: center;
	border: 1px solid #BB88BB;
}
.popup form .btn-submit {
	padding: 0 20px;
	height: 40px;
	line-height: 40px;
	border: none;
	color: #fff;
	background: #5E7DE3;
	border-radius: 3px;
	font-family: sans-serif;
	font-size: 16px;
	cursor: pointer;
	transition: .3s ease all
}
.popup form .btn-submit:hover {
	background: rgb(94,125,227, .9);
}

@keyframes animacionpop {
	from {
		opacity: 0;
	transform: scale(0.7);
	}
	to{
		opacity: 1;
		transform: scale(1)
	}
}

@keyframes entradaTitulo {
	from{
		transform: translateY(-25px);
		opacity: 0;
	}
	to{
		transform: translateY(0);
		opacity: 1;
	}
};
@keyframes salida {
	from{
		transform: translateY(-25px);
		opacity: 0;
	}
	to{
		transform: translateY(0);
		opacity: 1;
	}
};
@keyframes entradainput {
	from {
		opacity: 0;
	transform: scale(0.7);
	}
	to{
		opacity: 1;
		transform: scale(1)
	}
}

* {
	box-sizing: border-box;
}

.wrap {
	width: 80%
	max-width: 500px;
	max-height: 500px;
	margin: auto;
}

.seccionToggle {
	background: #fff;
	color: #001F3F;
	padding: 50px 0;
	text-align: center;
	height: calc(100vh - 50px);
	width: 100%;
}
.main {
	margin:auto;
	margin-top: 60px;
	min-height: 300px;
	width: 900px;
	text-align:center;
}
.seccionToggle h1 {
	color: #39495e;
	margin-top: 50px;
	height: 60%;
}
.btn-toggle {
	height: 50px;
	line-height: 50px;
	font-size: 24px;
	font-weight: bold;
	color: #000;
	display: block;
	background: #FFDC00;
	text-align:center;

}
.btn-toggle:hover{
	text-decoration: none;
}
.seccionToggle h2{
	font-size: 60px;
	margin-top: 50px;
	height: 1000px;
}
.seccionToggle p {
	font-size: 20px;
	margin-bottom: 180px;
	text-align: center;
	justify-content: center;
}
.seccionToggle button {
	background: none;
	font-size: 20px;
	font-weight: bold;
	padding: 20px 40px;
	display: inline-block;
	border:  5px solid #001F3F;
	transition: .3s all ease;
}
.seccionToggle button:hover {
	border: 5px solid #0074D9;
	color: #0074D9;
}
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.restomain {
		width: 1250px;
	min-height: 800px;
	margin: auto;
	background-color: #FFDC00;
	box-shadow: 2px 2px 10px #666;
	justify-content: center;
	text-align: center;
	color: #001F3F;
}
.izquierda{
	width: 450px;
	height: 300px;
	float: left;
	background: #f4ff81;
	color: #001F3F;
	text-align:center;
	font-family: sans-serif;
	box-shadow: 2px 2px 10px #666;
}
.derecha{
	width: 450px;
	height: 300px;
	float: right;
	background: #f5f5f5;
	color: #001F3F;
	box-shadow: 2px 2px 10px #666;
}
.acordeon {
	margin: 110px;
	width: 1000px;
	min-height:50px;
	background-color: red;
	overflow:hidden;
	border-radius: 5px;
	}
.sub {
	width: 1000px;
	min-height: 50px;
	background-color: green;
}
.titulo1 {
	width: 1000px;
	min-height: 50px;
	background-color: #24c86f;
	overflow: hidden;
	border-bottom: 1px solid #39f58f;
	cursor: pointer;

}
.bombillop {
	margin: 13px;
	color: white;
	font-family: sans-serif;
	font-weight: bold;
	color: #001F3F;
	font-size: 18px;
}
.infbom {
	width: 1000px;
	height: 0px;
	background-color: #f5f5f5;
	overflow: hidden;
	-webkit-transition:height .5s;
	color: #001F3F;
}
.bombilloinformacion {
	margin: 20px;
	text-align: center;
	color: #4f4f4f;
	font-family: sans-serif;
}
.sub:hover .infbom {
	height: 60px
}
.bombillop:hover {
	text-decoration:underline;
}
.imaje {
	align-items: center;
	justify-content: center;
	margin: -40px;
}
#clickpc:hover {
	cursor: pointer;
}
#clicktv:hover {
	cursor: pointer;
}
#clickbocina:hover {
	cursor: pointer;
}
#clickluz:hover {
	cursor: pointer;
}
#clickled:hover {
	cursor: pointer;
}